@tailwind base;
@tailwind components;
@tailwind utilities;

#cart-div {
  width: 300px;
}

#closeXsearch {
  padding-left: 5px;
}

#close-cart-p {
  margin-top: 2px;
}

#mobile-search-close-p {
  margin-top: -20px;
}

/* Fix Chrome padding issue */

.ais-SearchBox-input[type='search']::-webkit-search-cancel-button {
  display: none;
}
